body{
    display:flex;
    margin:0;
    flex-direction:column;
    font-family: Roboto,sans-serif;
}
button{
    background-color: #3882F6;
}
.header{
    display: flex;
    align-items: center;
    background-color:#1f2937;
    ul{
        display: flex;
        list-style-type:none;
        gap:10px;
        a{
            color:#e5e7eb;
            text-decoration:none;
            font-size:18px;
        }
        
    }
}
.rightlink{
    margin-right:120px;
}
.logo{
    color:#f9faf8;
    font-size:24px;
    font-weight:bold;
    margin-right:auto;
    margin-left:120px;
}
.showcase{
    display:flex;
    padding:80px 120px;
    background-color:#1f2937;
    align-items:center;
}
.showcase-infor{
    width: 400px;
    .title{
        color:#f9faf8;
        font-size:48px;
        margin-bottom:5px;
    }
    .text{
        color:#e5e7eb;
        font-size:18px;
        margin-bottom:10px;
    }
    button{
        padding:4px;
    }
    margin-right:auto;
}
.showcase > img{
    width:350px;
}